<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rich store inventory</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav>
      <h2>Rich store inventory</h2>
      <div class="navDiv">
        <a href="/"><p>Home</p></a>
        <a href="/assets">All assets</a>
        <a href="/assets/tables">Edit tables</a>
      </div>
    </nav>
    <hr>
    <main>
      <div class="info">
      <b><p>Here you can manage your assets, but there is a info! Database is a big responsibility.</p></b>
      <ul>
        <li>Manage your assets carefully, you might get things mixed up</li>
        <li>The site is created for responsible store employees</li>
        <li>I want a pizza</li>
      </ul>
    </div>
    </main>
    <footer>
      <hr>
      <h2>Link to our store: <a href="https://myrichfamily.netlify.app/">Link</a></h2> 
    </footer>
  </body>
</html>