main {
  display: flex;
  gap: 15rem;
  justify-content: center;
  align-items: center;
}
table {
  border-collapse: collapse;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
th, td {
  border: 1px solid #dddddd;
}
th {
  background-color: #efefef;
  padding: 10px;
  font-size: 1.8rem;
}
td {
  font-size: 1.5rem;
  padding: 7px;
}
tr:nth-child(even) {
  background-color: #e8e6e6;
}
table span {
  padding: 20px;
}

form {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  flex-direction: column;
}

form label {
  position: relative;
  bottom: 0.3rem;
  right: 5rem;
  font-size: 1.3rem;
}

form input {
  font-size: 1.3rem;
}

form button {
  font-size: 1.3rem;
}
form button:hover {
  cursor: pointer;
}
