.divAllTables {
  display: flex;
  gap: 15rem;
  justify-content: center;
  align-items: center;
}
.tableDiv {
  display: flex;
  flex-direction: column;
}
table {
  border-collapse: collapse;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
th, td {
  border: 1px solid #dddddd;
}
th {
  background-color: #efefef;
  padding: 10px;
  font-size: 1.8rem;
}
td {
  font-size: 1.5rem;
  padding: 7px;
}
tr:nth-child(even) {
  background-color: #e8e6e6;
}
table span {
  padding: 20px;
}

.formTables {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  flex-direction: column;
}
.formTables button {
  margin: 0.3rem;
  font-size: 1.3rem;
  padding: 3px 8px;
  cursor: pointer;
}
.formTables input {
  padding: 5px;
  font-size: 1.3rem;
}
.formTables label {
  font-size: 1.4rem;
}
.BtnAsset {
  position: fixed;
  right: 3rem;
  background-color:bisque;
  bottom: 3rem;
  font-size: 2rem;
  padding: 0.6rem;
}
.BtnAsset:hover {
  background-color:rgb(255, 217, 172);
  cursor: pointer;
}
.h2Table {
  margin: 0;
}
.assetsSelects {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
}
.assetsSelects label {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 0.3rem;
}
.assetsSelects select, option {
  font-size: 1.3rem;
}

.assetsSelects input {
  width: 3rem;
}